/*Window*/
QMainWindow{
    background-color: rgba(0, 0, 0, 0);
}

/*Widget*/
QWidget{
    background-color:  #ececec;
}
QWidget#mediaPlayerControls{
    background-color: green;
}

/*Label*/
QLabel{
    font: 20pt Calibri;
}
QLabel#Image{
    background-color:rgba(0, 0, 0, 0);
}
QLabel#Spacer{
    background-color: rgba(0, 0, 0, 0);
}

/*Push Button*/
QPushButton {
    background-color: transparent;
    border-radius: 6px;
}
QPushButton#maleBtn{
    background-color: #0275d8;
}
QPushButton#femaleBtn{
    background-color: #d9534f;
}
QPushButton:pressed{
    border: 1px solid #cecece;
}

/*Progress Bar*/
QProgressBar{
    border-radius: 6px;
    border: 2px solid black;
    text-align: center;
}
QProgressBar::chunk{
    background-color: #3c6294;
}

/*Text Box*/
QLineEdit{
    border: 2px solid black;
    border-radius: 6px;
}

/*Dropdown*/
QComboBox{
    border: 2px solid black;
}

/*Slider*/
QSlider{
    background-color: rgba(0, 0, 0, 0);
}
QSlider::groove:horizontal{
    background-color: #e7e7e7;
    margin-left: 0px;
    margin-right: 0px;
	border: 0px; 
	height: 6px; 
	border-radius: 2px;
}
QSlider::handle:horizontal{ 
	background-color: #ececec; 
	border: 2px solid #cecece; 
	width: 9px; 
	margin-top: -3px; 
    margin-bottom: -3px;
    margin-left: 0px;
    margin-right: 0px;
	border-radius: 5px; 
}
QSlider::sub-page:horizontal{
    background-color: #7e7d7d;
    height: 10px;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 3px;
}
QSlider#VideoProgressBar::sub-page:horizontal{
    background-color: #d82739;
    height: 10px;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 3px;
}

/*Checkbox*/
QCheckBox{
    background-color: rgba(0, 0, 0, 0);
}

/*Radio Button*/
QRadioButton{
    background-color: rgba(0, 0, 0, 0);
}

/*Scroll Area*/
QScrollArea{
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
}

/*Dial*/
QDial{
    background-color: #ececec;
}
